@import "../variables.css";

.background-wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background-layer.primary {
    background: var(--color-neutral);
}

.background-content {
    position: relative;
    z-index: 1;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
